<app-topbar></app-topbar>

<div
  class="w-screen -ml-9 h-[13vh] fixed bg-gradient-to-tl from-primary to-primaryLight3"
></div>

<ng-container *ngIf="user as u">
  <div class="mt-[6.5vh] relative">
    <div class="flex justify-between items-end">
      <div class="flex gap-8 items-center">
        <div class="w-32 h-32">
          <a [routerLink]="editRouterLink">
            <img
              [src]="u.avatar!"
              alt="user-avatar"
              i18n-alt
              class="w-full h-full object-cover rounded-full border-white border-2"
            />
          </a>
        </div>

        <div>
          <div class="flex items-center gap-4">
            <p class="text-3xl font-bold text-white">
              {{ u.fullName }}
            </p>

            <span
              [class]="
                helperService.statusClasses[u.userStatus?.toLowerCase()!]
              "
            >
              <i class="pi-circle-fill pi"></i>
            </span>
          </div>

          <p class="text-gray-500 text-lg font-medium mt-1">
            {{ u.userRole | titlecase }}
          </p>
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex gap-4 font-bold">
          <a [routerLink]="editRouterLink">
            <button pButton type="button">
              <i class="pi pi-pencil"></i>
            </button>
          </a>
        </div>
      </div>
    </div>

    <div class="mt-4 flex justify-between">
      <div class="w-1/2">
        <p class="text-3xl font-bold mb-4">Information</p>

        <div>
          <oms-user-info-field
            [displayText]="phoneNumber"
            [value]="user.phoneNumber!"
          ></oms-user-info-field>

          <oms-user-info-field
            [displayText]="address"
            [value]="user.fullAddress!"
          ></oms-user-info-field>

          <oms-user-info-field
            [displayText]="dob"
            [value]="user.dob!"
          ></oms-user-info-field>

          <oms-user-info-field
            [displayText]="gender"
            [value]="user.gender!"
          ></oms-user-info-field>
        </div>
      </div>

      <div class="w-1/2">
        <p class="text-3xl font-bold mb-4">Socials</p>

        <ul class="flex flex-col gap-2">
          <oms-user-social
            *ngIf="u.facebook"
            [link]="u.facebook"
            icon="pi-facebook"
          ></oms-user-social>

          <oms-user-social
            *ngIf="u.instagram"
            [link]="u.instagram"
            icon="pi-instagram"
          ></oms-user-social>

          <oms-user-social
            *ngIf="u.email"
            [link]="u.email"
            icon="pi-envelope"
            [isKeptFull]="true"
          ></oms-user-social>
        </ul>
      </div>
    </div>
  </div>
</ng-container>

<div class="mt-4">
  <oms-table
    (pagingInfo)="onPageChange($event)"
    [isPaginationShown]="true"
    [table]="tableData"
    [contentRef]="contentRef"
  >
    <ng-template #contentRef let-d>
      <tr>
        <td>{{ d.id }}</td>

        <td class="flex items-center gap-2">
          <oms-avatar shape="square" [imgSrc]="d.channelImage!"></oms-avatar>

          <span>{{ d.channelName }}</span>
        </td>

        <td>{{ d.orderedAt }}</td>

        <td>{{ d.productUnit }}</td>

        <td>{{ d.shippingCarrier }}</td>

        <td
          [class]="helperService.statusClasses[d.status.toLowerCase()]"
          class="font-bold flex items-center gap-2"
        >
          <i class="pi pi-circle-fill"></i>
          {{ d.status | titlecase }}
        </td>
      </tr>
    </ng-template>
  </oms-table>
</div>
