<div class="container w-full">
    <div class="grid lg:grid-cols-4 gap-2">
        <div class="col-span-1">
            <div class="mb-2">
                <div class="card">
                    <app-totalsalechart></app-totalsalechart>
                </div>
            </div>
            <div class="mb-2">
                <div class="card">
                    <app-sale-by-channel></app-sale-by-channel>
                </div>
            </div>
            <div class="mb-2">
                <div class="card">
                    <app-total-sales></app-total-sales>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="mb-2">
                <div class="card">
                    <app-product-catalog></app-product-catalog>
                </div>
            </div>
            <div class="mb-2">
                <div class="card">
                    <app-sale-by-channel></app-sale-by-channel>
                </div>
            </div>
            <div class="mb-2">
                <div class="card">
                    <app-product-catalog></app-product-catalog>
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="mb-2">
                <div class="card">
                    <app-total-sales></app-total-sales>
                </div>
            </div>
            <div class="mb-2">
                <div class="card">
                    <app-sale-by-channel></app-sale-by-channel>
                </div>
            </div>
            <div class="mb-2">
                <div class="card">
                    <app-product-catalog></app-product-catalog>
                </div>
            </div>
        </div>
    </div>
</div>