<app-topbar></app-topbar>
<app-submenu subMenuType="dashboard"></app-submenu>
<div class="container w-full mx-auto">
  <div class="gap-2 md:grid md:grid-cols-8 sm:flex-col">
    <!-- dashboard component -->
    <div class="md:col-span-6 sm:flex-row">
      <div class="grid-cols-6 gap-2 md:grid lg:justify-between">
        <!-- total sale component -->
        <div class="p-4 bg-white rounded-md lg:col-span-2 md:col-span-3">
          <dashboard-total-sale-chart
            [totalSale]="totalSale"
            [data]="totalSaleData"
            [option]="totalSaleOption"
          ></dashboard-total-sale-chart>
        </div>
        <!-- total return component -->
        <div class="p-4 bg-white rounded-md lg:col-span-2 md:col-span-3">
          <dashboard-total-return></dashboard-total-return>
        </div>
        <!-- product catalog component -->
        <div class="p-4 bg-white rounded-md lg:col-span-2 md:col-span-6">
          <dashboard-product-catalog
            [dataChart]="productCatalogData"
            [basicOptions]="chartOptions"
          ></dashboard-product-catalog>
        </div>
      </div>
      <div class="grid-cols-6 gap-2 mt-2 md:grid lg:justify-between">
        <div class="p-4 bg-white rounded-md lg:col-span-2 md:col-span-3">
          <dashboard-total-sale-by-location></dashboard-total-sale-by-location>
        </div>
        <div class="rounded-md lg:col-span-2 md:col-span-3">
          <div class="flex flex-col gap-2">
            <!-- order component -->
            <div>
              <dashboard-total-orders
                [chartData]="totalOrderData"
                [basicOptions]="chartOptions"
              ></dashboard-total-orders>
            </div>
            <!-- top selling product component -->
            <div class="sm:mb-2 md:mb-0">
              <dashboard-top-selling-product></dashboard-top-selling-product>
            </div>
          </div>
        </div>
        <!-- total sale by channel component -->
        <div class="p-4 bg-white rounded-md lg:col-span-2 md:col-span-6">
          <dashboard-sale-by-channel></dashboard-sale-by-channel>
        </div>
      </div>
    </div>
    <!-- statistic component -->
    <div
      class="p-1 bg-white rounded-md lg:col-span-2 md:col-span-2 sm:flex-row sm:w-full sm:object-cover"
    >
      <dashboard-statistic [data]="statisticData"></dashboard-statistic>
    </div>
  </div>
</div>
