<tr>
  <td>
    <div class="flex gap-2 items-center">
      <div class="w-10 h-10 flex items-center">
        <img
          class="object-cover"
          [src]="rowData.channelImage"
          [alt]="rowData.channelImage"
        />
      </div>

      <span>{{ rowData.channelName }}</span>
    </div>
  </td>

  <td
    class="flex items-center gap-2"
    [class]="helperService.statusClasses[rowData.status.toLowerCase()]"
  >
    <i class="pi pi-circle-fill"></i>

    <span class="font-bold">
      {{ rowData.status | titlecase }}
    </span>
  </td>

  <td>{{ rowData.numberOfOrder | number }}</td>

  <td>{{ rowData.totalSales | number }}</td>
</tr>
