<tr
  class="mb-2 px-4 cursor-pointer hover:!bg-gray-200 transition-all duration-100"
>
  <td>
    <oms-avatar [imgSrc]="catalogue.productVariantImage"></oms-avatar>
  </td>

  <td>{{ catalogue.sku }}</td>

  <td class="font-bold">{{ catalogue.productName | titlecase }}</td>

  <td class="flex items-center gap-2">
    <oms-avatar [imgSrc]="catalogue.channelImage"></oms-avatar>

    <span>{{ catalogue.channelName }}</span>
  </td>

  <td>{{ catalogue.createdAt | date : 'shortDate' }}</td>

  <td>{{ catalogue.availableStock }}</td>

  <td>{{ catalogue.basePrice }}</td>

  <td
    class="flex gap-2 items-center"
    [class.text-success]="catalogue.status === 'Active'"
    [class.text-danger]="catalogue.status === 'Inactive'"
  >
    <i class="pi-circle-fill pi"></i>

    <span class="font-medium">
      {{ catalogue.status | titlecase }}
    </span>
  </td>

  <td class="font-bold cursor-pointer">
    <i
      (click)="handleEdit()"
      class="pi pi-pencil text-primary p-1 border-b-2 border-primary mr-2"
    ></i>

    <i
      (click)="handleAction()"
      class="pi pi-arrow-up-left text-white bg-primary p-1 rounded-full"
    ></i>
  </td>
</tr>
