<div class=" bg-white ">
    <div class="mb-4 font-bold">
        <p class=" ">Total Return</p>
        <p class="">{{totalReturn}}</p>
    </div>
    <div class="flex flex-col">
        <div class="flex items-center justify-between gap-2">
            <p class=" font-medium md:font-normal text-sm text-gray-500">Return over time</p>
            <a routerLink="/" class="text-sm font-normal text-primary ">Analyse</a>
        </div>
        <div class="h-full flex-1">
            <oms-chart type="doughnut" [data]="pieData" [options]="pieOptions"></oms-chart>
        </div>
    </div>
</div>