<app-topbar></app-topbar>

<div>
  <h1 class="text-3xl font-bold">Change Password</h1>

  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="changePassword()"
    class="max-w-[50%]"
  >
    <div class="flex flex-col gap-2 mb-4">
      <label for="currentPassword">Current Password</label>

      <p-password
        id="currentPassword"
        formControlName="currentPassword"
      ></p-password>
    </div>

    <div class="flex flex-col gap-2 mb-4">
      <label for="newPassword">New Password</label>

      <p-password id="newPassword" formControlName="newPassword"></p-password>
    </div>

    <div class="flex flex-col gap-2 mb-4">
      <label for="confirmPassword">Confirm Password</label>

      <p-password
        id="confirmPassword"
        formControlName="confirmPassword"
      ></p-password>
    </div>

    <button type="submit" pButton>Change Password</button>
  </form>
</div>
