<app-topbar></app-topbar>

<div class="flex-between-center w-full mb-2">
  <h1 class="title" i18n>Orders Analytics</h1>

  <oms-date-filter
    (dateFilterChange)="dateFilterChanged($event)"
    (filter)="filterChanged($event)"
  ></oms-date-filter>
</div>

<div class="flex gap-2 h-full">
  <div class="w-full flex flex-col">
    <div class="dashboard-detail-container flex-1 mb-2">
      <p class="font-bold text-black" i18n>Overview</p>

      <div class="w-full h-full max-h-[40vh]">
        <oms-chart
          [data]="overviewData"
          [options]="baseChartOptions"
          type="bar"
        ></oms-chart>
      </div>
    </div>

    <oms-table
      (pagingInfo)="onPageChange($event)"
      [isPaginationShown]="true"
      [table]="tableData"
    >
    </oms-table>
  </div>

  <div
    class="dashboard-detail-container flex flex-col justify-between w-[20vw]"
  >
    <overview-box
      *ngFor="let o of orderSummary"
      [dateRange]="dateRange"
      [type]="o.displayText"
      [total]="o.value"
      [percentage]="o.percentage"
    ></overview-box>
  </div>
</div>
