<div class="flex-col bg-white p-4 rounded-md">
  <div>
    <div class="mb-4 font-bold">
      <p class="">Total Orders</p>
      <span>{{totalOrder}}</span>
    </div>
    <div class="flex flex-row justify-between">
      <p class="font-normal text-sm text-gray-500 capitalize">Orders over time</p>
      <a href="#" class="text-sm text-primary">Analyse</a>
    </div>
  </div>
  <div class="">
    <div class="w-full">
      <oms-chart type="bar" [data]="totalOrderData" [options]="basicOptions"></oms-chart>
    </div>
  </div>
</div>
