<app-topbar></app-topbar>

<div class="flex-between-center w-full mb-2">
  <h1 class="title" i18n>Orders Analytics</h1>

  <div class="flex gap-2">
    <p-dropdown
      [(ngModel)]="selectedMarketplace"
      [options]="marketplaces"
      optionLabel="marketPlaceName"
      (onChange)="onSelectedChannel($event)"
      placeholder="All channels"
    ></p-dropdown>

    <oms-date-filter
      (dateFilterChange)="dateFilterChanged($event)"
      (filter)="filterChanged($event)"
      [(dateFilter)]="dateRange"
    ></oms-date-filter>
  </div>
</div>

<div class="flex gap-2 h-full">
  <div class="w-full flex flex-col">
    <div class="flex gap-2">
      <div class="dashboard-detail-container w-full mb-2">
        <p class="font-bold text-black" i18n>Orders</p>

        <div class="w-full h-full max-h-[40vh]">
          <oms-chart
            [data]="overviewData"
            [options]="baseChartOptions"
            type="bar"
          ></oms-chart>
        </div>
      </div>

      <div class="dashboard-detail-container w-full mb-2">
        <p class="font-bold text-black" i18n>Orders by marketplace</p>

        <div class="w-full h-full max-h-[40vh]">
          <oms-chart
            [data]="orderByChannel"
            [options]="baseChartOptions"
            type="bar"
          ></oms-chart>
        </div>
      </div>
    </div>

    <oms-table
      (pagingInfo)="onPageChange($event)"
      [isPaginationShown]="true"
      [table]="tableData"
    >
    </oms-table>
  </div>

  <div
    class="dashboard-detail-container flex flex-col justify-between w-[20vw]"
  >
    <overview-box
      *ngFor="let o of orderSummary"
      [dateRange]="dateRange"
      [type]="o.displayText"
      [total]="o.value"
      [percentage]="o.percentage"
    ></overview-box>
  </div>
</div>
