<div class="bg-white px-4  text-left rounded-md h-full">
  <h1 class="text-sm pt-4 font-bold">Top Selling Products</h1>
  <div class="flex flex-row  justify-between text-xs  text-gray-500">
    <p>Products</p>
    <p>Value Sales</p>
  </div>
  <div class="flex flex-col justify-between py-4 gap-2 ">
    <div class="flex justify-between text-primary font-bold " *ngFor="let product of products">
      <p>{{product.text | titlecase}}</p>
      <p>{{product.value | number}}</p>
    </div>
  </div>
</div>
