<div class="bg-white text-left rounded-md ">
  <h1 class="text-sm px-4 pt-4 font-bold">Top Selling Products</h1>
  <div class="flex flex-row justify-between px-4 ">
    <p class="font-base text-xs text-gray-500">Products</p>
    <p class="font-base text-xs text-gray-500">Value Sales</p>
  </div>
  <div class="flex flex-col justify-between px-4">
    <div class="flex flex-row justify-between ">
      <p class="font-sm text-xs text-gray-800">Product 1</p>
      <p class="font-sm text-xs text-gray-800">SGD 2,425,678.00</p>
    </div>
    <div class="flex flex-row justify-between">
      <p class="font-sm text-xs text-gray-800">Product 2</p>
      <p class="font-sm text-xs text-gray-800">SGD 2,425,678.00</p>
    </div>
    <div class="flex flex-row justify-between">
      <p class="font-sm text-xs text-gray-800">Product 3</p>
      <p class="font-sm text-xs text-gray-800">SGD 2,425,678.00</p>
    </div>
  </div>
</div>
