<app-topbar></app-topbar>
<div>
  <p-tabMenu
    [model]="items"
    [activeItem]="activeItem"
    (activeItemChange)="onActiveItemChange($event)"
  >
    <ng-template pTemplate="item" let-item let-i="index">
      {{ item.label }}
      <span
        class="rounded-full badge bg-primary bg-opacity-20 text-opacity-60 font-medium text-primary text-center px-3 py-1 ml-2"
        >{{ item.badge }}</span
      >
    </ng-template>
  </p-tabMenu>
  <div class="mt-3">
    <!-- <oms-screen-filter
      (dateFilterChange)="dateFilterChange($event)"
      (searchValue)="searchValue($event)"
    >
    </oms-screen-filter> -->
    <oms-date-filter></oms-date-filter>
  </div>
  <div class="mt-3">
    <oms-table  [table]="table">
      <tr *ngFor="let item of table.data.body" class="group">
        <td class="!text-center">{{item.name}}</td>
        <td class="!text-center">{{ item.numberOrders | number }}</td>
        <td class="!text-center">{{ item.value | number }}</td>
        <td class="!text-center">{{item.totalspend}}</td>
        <td class="!text-center">{{ item.createdAt }}</td>
        <td class="!text-center">{{ item.updatedAt }}</td>
        <td class="!text-center">{{ item.typeustomer}}</td>
        <td class="!text-center">
          <div class="flex item-center gap-5 justify-center">
            <span class="hidden lg:block min-w-[70px]">
              <i
                class="pi pi-circle-fill text-success"
                *ngIf="item.status === 'ACTIVE'; else shareicon"
              ></i>
              <ng-template #shareicon>
                <i class="pi pi pi-arrow-up-left" style="color: blue; font-size: 23px;"></i>
              </ng-template>
              {{ item.status | titlecase }}
            </span>
            <!-- <p-inputSwitch class="opacity-100 flex-1"></p-inputSwitch> -->
          </div>
        </td>

    </oms-table>
  </div>
</div>
