<div class=" p-2 gap-3 md:grid md:grid-cols-10 sm:flex-col justify-between">
  <app-inventory-card class="md:grid-cols-2 md:col-span-2"></app-inventory-card>
  <app-inventory-card class="md:grid-cols-2 md:col-span-2"></app-inventory-card>
  <app-inventory-card class="md:grid-cols-2 md:col-span-2"></app-inventory-card>
  <app-inventory-card class="md:grid-cols-2 md:col-span-2"></app-inventory-card>
  <app-inventory-card class="md:grid-cols-2 md:col-span-2"></app-inventory-card>
  <!-- <div class="md:grid-cols-2 md:col-span-2">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-primary">Delisted & Suspended SKUs</h3>
      </a>
      <h5 class="p-3 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">107</h5>
    </div>
  </div>
  <div class="md:grid-cols-2 md:col-span-2">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-primary ">SKUs Out Of Stock</h3>
      </a>

      <h5 class=" p-3 mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">107</h5>
    </div>
  </div>
  <div class="md:grid-cols-2 md:col-span-2">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
          <h3  class=" mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-primary">SKUs with Low Stock</h3>

      </a>

      <h5 class="p-3  mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">107</h5>
    </div>

  </div>
  <div class="md:grid-cols-2 md:col-span-2">

    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="#">
          <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white text-primary">On - demand SKUs</h3>
      </a>

      <h5 class=" p-3  mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">107</h5>
    </div>

  </div> -->

</div>
