<p-sidebar
  [(visible)]="sidebarVisible"
  position="right"
  [modal]="true"
  [blockScroll]="true">
  <ng-template pTemplate="header">
    <span class="font-bold text-2xl">{{ productSku }}</span>
  </ng-template>
  <oms-inventory-detail *ngIf="sidebarVisible" [productVariantId]="productVariantId"></oms-inventory-detail>
</p-sidebar>
<app-topbar></app-topbar>
<div class="w-full">
  <app-List-card></app-List-card>
  <div class="p-2">
    <p-tabMenu [model]="items" [activeItem]="activeItem" >
      <ng-template pTemplate="item" let-item let-i="index">
        <span class="px-3 py-1 ml-2">
          {{ item.title | titlecase }}
        </span>
        <span _ngcontent-vmi-c95="" class="px-2 py-1 rounded-full bg-primary text-white ng-star-inserted"> {{item.badge}} </span>
      </ng-template>
    </p-tabMenu>
  </div>
  <div class="p-2 flex flex-auto gap-2">
    <oms-screen-filter
      (searchValue)="searchValue($event)"
    >
    </oms-screen-filter>
    <p-dropdown
    optionLabel="name"
    dropdownIcon="pi pi-filter text-primary"
    [filter]="true"
  >
  </p-dropdown>

  </div>
  <div class="p-2">
    <oms-table [isPaginationShown]="true" (pagingInfo)="onPageChange($event)" [table]="table" [contentRef]="contentRef">
      <ng-template #contentRef let-rowData>
        <tr>
          <td>
            <div class="w-10 h-10 rounded-md">
              <img class="object-cover" [src]="rowData.productVariantImage" alt="" />
            </div>
          </td>
          <td class="!text-left"> {{ rowData.sku }} </td>

          <td class="!text-left">{{ rowData.productName   }}</td>

          <td class="!text-left">{{ rowData.availableStock }}</td>

          <td class="!text-left">{{ rowData.inProcess }}</td>

          <td class="!text-left">{{ rowData.sold }}</td>
          <td class="!text-left "><i
              class="pi pi-arrow-up-left cursor-pointer text-white bg-primary p-1 rounded-full"
              (click)="handleClickActions(rowData.id, rowData.sku)">{{rowData.action}}</i>
          </td>
        </tr>
      </ng-template>
    </oms-table>
  </div>
</div>
