<tr>
  <td>
    <div class="flex items-center gap-2">
      <oms-avatar
        [imgSrc]="channel.image!"
        label="channel-img.alt"
        size="normal"
        shape="square"
      ></oms-avatar>

      <span>{{ channel.channelName }}</span>
    </div>
  </td>

  <td>{{ channel.numberOfOrder | number }}</td>

  <td>{{ channel.totalSale | number }}</td>

  <td>
    <i
      class="pi pi-circle-fill text-success mr-2"
      *ngIf="channel.status === 'Active'; else dangerIcon"
    ></i>

    <ng-template #dangerIcon>
      <i class="pi pi-circle-fill text-danger"></i>
    </ng-template>
    {{ channel.status | titlecase }}
  </td>

  <td>{{ channel.createdAt }}</td>

  <td>{{ channel.updatedAt }}</td>
</tr>
