<div class="w-full">
  <div>
    <div class="flex flex-col mb-4">
      <h2 class="text-sm font-bold">Total Return</h2>
    </div>
    <div class="flex flex-row justify-between">
      <p class="font-sm text-sm text-gray-500">RETURN OVER TIME</p>
      <a href="#" class="text-sm text-blue-600">Analyse</a>
    </div>
  </div>
  <div>
    <!-- <oms-chart type="geomap"></oms-chart> -->
  </div>
  <div class="pt-10 flex flex-col gap-2">
    <div class="flex justify-between font-semibold pt-2 text-xs">
      <span>SINGAPORE</span>
      <span>2,345,678.1</span>
    </div>
    <div class="flex justify-between font-semibold pt-2 text-xs">
      <span>SINGAPORE</span>
      <span>2,345,678.1</span>
    </div>
    <div class="flex justify-between font-semibold pt-2 text-xs">
      <span>SINGAPORE</span>
      <span>2,345,678.1</span>
    </div>
    <div class="flex justify-between font-semibold pt-2 text-xs">
      <span>SINGAPORE</span>
      <span>2,345,678.1</span>
    </div>
    <div class="flex justify-between font-semibold pt-2 text-xs">
      <span>SINGAPORE</span>
      <span>2,345,678.1</span>
    </div>
    <div class="flex justify-between font-semibold pt-2 text-xs">
      <span>SINGAPORE</span>
      <span>2,345,678.1</span>
    </div>
  </div>
</div>
