<app-topbar></app-topbar>

<div>
  <div class="flex items-center justify-between w-full mb-2">
    <h1 class="mb-0 text-3xl font-bold" i18n>Sale by location</h1>

    <div class="flex gap-2">
      <p-dropdown [(ngModel)]="selectedCountry" [options]="countries">
      </p-dropdown>

      <oms-date-filter
        (dateFilterChange)="dateFilterChanged($event)"
        (filter)="filterChanged($event)"
      >
      </oms-date-filter>
    </div>
  </div>

  <div
    class="flex flex-wrap lg:flex-nowrap justify-between w-full gap-2 mb-4 md:mb-2"
  >
    <div class="flex flex-col w-full overflow-auto dashboard-detail-container">
      <div class="mb-2">
        <div class="flex justify-between">
          <p class="mb-0 font-bold" i18n>Sales</p>
        </div>
      </div>

      <div class="flex gap-2 mb-4">
        <div
          class="flex items-center justify-between w-full text-xs rounded-md md:px-2 md:py-1 bg-primary bg-opacity-10"
        >
          <div class="flex items-center">
            <i class="mr-2 pi pi-dollar text-primary"></i>

            <span class="my-auto font-bold">23k</span>
          </div>

          <div class="p-1 text-white rounded-full bg-primary">Dec</div>
        </div>

        <div
          class="flex items-center justify-between w-full text-xs rounded-md md:px-2 md:py-1 bg-success bg-opacity-10"
        >
          <div class="flex items-center">
            <i class="mr-2 pi pi-arrow-up text-success"></i>

            <span class="my-auto font-bold">23k</span>
          </div>

          <div class="p-1 text-white rounded-full bg-success">vs Nov</div>
        </div>
      </div>

      <div class="h-full">
        <oms-chart
          type="line"
          [options]="baseChartOptions"
          [data]="salesData"
        ></oms-chart>
      </div>
    </div>

    <div class="w-full dashboard-detail-container">
      <div class="mb-2">
        <p class="font-bold" i18n>Country</p>
      </div>

      <div class="w-[50vh] mx-auto lg:h-3/4 lg:w-8/12">
        <oms-chart type="doughnut" [data]="countryData"></oms-chart>
      </div>
    </div>

    <div class="w-full overflow-auto dashboard-detail-container">
      <div class="flex flex-col h-full">
        <p class="font-bold" i18n>Leads</p>

        <div class="h-full">
          <oms-chart
            type="bar"
            [data]="leadData"
            [options]="baseChartOptions"
          ></oms-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-detail-container mb-4 overflow-y-auto">
    <div class="w-full">
      <p class="font-bold" i18n>Sales Analytics</p>

      <app-apex-chart [heatChartOptions]="heatChartOptions"></app-apex-chart>
    </div>
  </div>

  <div class="dashboard-detail-container">
    <oms-table
      (pagingInfo)="pagingInfo($event)"
      [table]="tableData"
    ></oms-table>
  </div>
</div>
