<app-topbar></app-topbar>
<app-submenu subMenuType="dashboard"></app-submenu>
<div class="">
  <div class="flex items-center justify-between w-full mb-2">
    <h1 class="text-3xl font-bold mb-0">Sale by location</h1>
    <div class="flex items-center p-2 bg-white rounded-xl">
      <i class="mr-2 pi pi-calendar"></i>
      <select
        [(ngModel)]="filter"
        class="focus:bg-none active:bg-none focus:outline-none"
      >
        <option value="week">Weekly</option>
        <option value="month">Monthly</option>
        <option value="year">Yearly</option>
      </select>
    </div>
  </div>
  <div class="flex flex-wrap justify-between w-full gap-2 mb-4">
    <div
      class="flex flex-col w-full md:w-[calc(50%-1rem)] lg:w-chartWidth overflow-auto px-4 py-2 bg-white rounded-lg"
    >
      <div class="mb-2">
        <div class="flex justify-between">
          <p class="font-bold">Sales</p>
          <div class="flex items-center px-2 py-1 bg-gray-50 rounded-xl">
            <i class="mr-1 pi pi-globe"></i>
            <select
              #countries
              (change)="getSaleByLocation(countries.value)"
              class="focus:bg-none active:bg-none focus:outline-none bg-gray-50"
            >
              <option value="vietnam" default>Vietnam</option>
              <option value="singapore">Singapore</option>
              <option value="malaysia">Malaysia</option>
            </select>
          </div>
        </div>
      </div>
      <div class="flex gap-2 mb-4">
        <div
          class="flex items-center justify-between w-full text-xs rounded-md md:px-2 md:py-1 bg-primary bg-opacity-10"
        >
          <div class="flex items-center">
            <i class="mr-2 pi pi-dollar text-primary"></i>
            <span class="my-auto font-bold">23k</span>
          </div>
          <div class="p-1 text-white rounded-full bg-primary">Dec</div>
        </div>
        <div
          class="flex items-center justify-between w-full text-xs rounded-md md:px-2 md:py-1 bg-success bg-opacity-10"
        >
          <div class="flex items-center">
            <i class="mr-2 pi pi-arrow-up text-success"></i>
            <span class="my-auto font-bold">23k</span>
          </div>
          <div class="p-1 text-white rounded-full bg-success">vs Nov</div>
        </div>
      </div>
      <div class="h-full">
        <oms-chart
          type="line"
          [options]="baseChartOptions"
          [data]="salesData"
        ></oms-chart>
      </div>
    </div>
    <div
      class="w-full md:w-[calc(50%-1rem)] lg:w-chartWidth px-4 py-2 bg-white rounded-lg"
    >
      <div class="mb-2">
        <p class="font-bold">Country</p>
      </div>
      <div class="w-full mx-auto lg:h-3/4 md:w-3/5">
        <oms-chart type="doughnut" [data]="countryData"></oms-chart>
      </div>
    </div>
    <div
      class="px-4 py-2 w-full lg:w-chartWidth overflow-auto bg-white rounded-lg"
    >
      <div class="flex flex-col h-full">
        <p class="font-bold">Leads</p>
        <div class="h-full">
          <oms-chart
            type="bar"
            [data]="leadData"
            [options]="baseChartOptions"
          ></oms-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 py-2 mb-4 overflow-y-auto bg-white rounded-lg">
    <div class="w-full mb-2">
      <p class="font-bold">Sales Analytics</p>
        <app-apex-chart [heatChartOptions]="heatChartOptions"></app-apex-chart>
    </div>
  </div>
  <div class="px-4 py-2 bg-white rounded-lg">
    <app-table [tableData]="tableData" heading="Orders"></app-table>
  </div>
</div>
