<div class="mb-6">
  <span class=" text-sm font-bold">{{ detailStatistic.title | uppercase}}</span>
  <div class="grid gap-4 flex-wrap  py-2 md:grid-cols-1 lg:grid-cols-2  ">
    <div class="bg-light-yellow rounded-lg p-3 " *ngFor="let item of detailStatistic.data">
      <div class="flex flex-col mb-2" >
        <span class="lg:flex items-center gap-2 text-sm ">{{ item.displayText }} 
          <i
          class="pi pi-circle-fill text-[3px] md:text-[5px] "
          [ngClass]="item.circleColor === '#FCA310FF' ?  'text-danger':'text-success'"
          *ngIf="item.hasCircle === true"></i></span> 
            <span class="font-bold text-lg md:text-xl max-w-[100px] text-ellipsis whitespace-nowrap overflow-hidden">{{ item.value }}</span>
            <i class="pi pi-arrow font-bold  text-[7px] " [ngClass]="item.ArrowActivity === 'pi pi-arrow-up'? 'pi pi-arrow-up':'pi pi-arrow-down'"
            *ngIf="item.hasArrow === true">
              <span class="text-lg md:text-sm p-1">{{ item.percent }}</span></i>
      </div>
    </div>
  </div>
</div>