<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="true"
  [resizable]="true"
  (onHide)="closeModal()"
>
  <ng-template pTemplate="header">
    <span class="font-bold text-3xl text-primary"
      >Order #{{ order.orderNumber }}</span
    >
  </ng-template>

  <div>
    <div
      [class.text-success]="order.orderStatus === 'completed'"
      [class.text-danger]="order.orderStatus === 'failed'"
      [class.text-orange-400]="order.orderStatus === 'pending'"
      [class.text-warning]="order.orderStatus === 'delivery'"
      [class.text-blue-500]="order.orderStatus === 'return'"
    >
      <i class="pi-circle-fill pi"></i>

      <span class="font-bold">
        {{ order.orderStatus | titlecase }}
      </span>
    </div>

    <ul class="my-3">
      <li class="text-heading mb-2">Customer Info:</li>
      <li class="oms-order-detail-header">
        Buyer: <span class="oms-order-detail-info">{{ order.buyerName }}</span>
      </li>

      <li class="oms-order-detail-header">
        Address:
        <span class="oms-order-detail-info">{{ order.shippingAddress }}</span>
      </li>

      <li class="oms-order-detail-header">
        Payment:
        <span class="oms-order-detail-info">{{
          order.customerPaymentMethod
        }}</span>
      </li>

      <li class="oms-order-detail-header">
        Recipient Name:
        <span class="oms-order-detail-info">{{ order.recipientName }}</span>
      </li>

      <li class="oms-order-detail-header">
        Recipient Phone Number:
        <span class="oms-order-detail-info">{{
          order.recipientPhoneNumber
        }}</span>
      </li>
    </ul>

    <oms-table
      [table]="tableData"
      [contentRef]="contentRef"
      [isPaginationShown]="false"
    >
      <ng-template #contentRef let-rowData>
        <tr>
          <td>
            <div class="flex items-center gap-4">
              <div>{{ rowData.image }}</div>
              <div>
                <div class="font-bold text-lg">{{ rowData.name }}</div>
                <div>{{ rowData.description }}</div>
              </div>
            </div>
          </td>
          <td>{{ rowData.code }}</td>
          <td>{{ rowData.quantity }}</td>
          <td>{{ rowData.price }}</td>
        </tr>
      </ng-template>
    </oms-table>
  </div>
</p-dialog>
