<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="true"
  [resizable]="true"
  (onHide)="closeModal()"
>
  <ng-template pTemplate="header">
    <span class="title text-primary"
      ><span i18n>Order </span> #{{ orderDetail.id }}</span
    >
  </ng-template>

  <div>
    <div [class]="helperService.statusClasses[order.status?.toLowerCase()!]">
      <i class="pi-circle-fill pi"></i>

      <span class="font-bold">
        {{ order.status | titlecase }}
      </span>
    </div>

    <ul class="my-3">
      <li class="text-heading mb-2"><span i18n>Customer Info</span></li>

      <li class="order-detail-header">
        <span i18n>Buyer</span>

        <span class="order-detail-info">{{ orderDetail.customerName }}</span>
      </li>

      <li class="order-detail-header">
        <span i18n> Address </span>
        <span class="order-detail-info">{{ orderDetail.shippingAddress }}</span>
      </li>

      <li class="order-detail-header">
        <span i18n>Recipient Name</span>

        <span class="order-detail-info">{{ orderDetail.customerName }}</span>
      </li>

      <li class="order-detail-header">
        <span i18n>Recipient Phone Number</span>

        <span class="order-detail-info">{{ orderDetail.phoneNumber }}</span>
      </li>
    </ul>

    <oms-table
      [table]="tableData"
      [contentRef]="contentRef"
      [isPaginationShown]="false"
    >
      <ng-template #contentRef let-rowData>
        <tr>
          <td>
            <div class="flex items-center gap-4">
              <oms-avatar [imgSrc]="rowData.image"></oms-avatar>

              <div>
                <div class="font-bold text-lg">{{ rowData.name }}</div>

                <div>{{ rowData.description }}</div>
              </div>
            </div>
          </td>

          <td>{{ rowData.barcode }}</td>

          <td>{{ rowData.quantity }}</td>

          <td>{{ rowData.price | number }}</td>
        </tr>
      </ng-template>
    </oms-table>
  </div>
</p-dialog>
