<tr
  class="mt-3 cursor-pointer hover:!bg-gray-200 transition-all duration-100"
  (click)="handleUserDetail($event)"
>
  <td class="order-item-row">
    <img [src]="'data:image/png;base64,' + user.avatar" alt="" />
  </td>

  <td class="order-item-row">{{ user.fullName | titlecase}}</td>
  <td class="order-item-row">{{ user.email }}</td>
  <td class="order-item-row">{{ user.phoneNumber }}</td>
  <td class="order-item-row">{{ user.fullAddress }}</td>
  <td class="order-item-row">{{ user.userRole }}</td>

  <td
    class="order-item-row flex gap-2 justify-center items-center"
    [class.text-success]="user.userStatus === 'Active'"
    [class.text-danger]="user.userStatus === 'Inactive'"
  >
    <i class="pi-circle-fill pi"></i>

    <span class="font-bold">
      {{ user.userStatus | titlecase }}
    </span>
  </td>

  <td class="order-item-row" (click)="handleAction($event)">
    <i
      class="pi pi-arrow-up-left cursor-pointer text-white bg-primary p-1 rounded-full"
    ></i>
  </td>
</tr>