<form [formGroup]="editForm" (ngSubmit)="edit()">
  <div class="flex items-end">
    <div class="relative inline-block">
      <div class="w-32 h-32" *ngIf="!tempImg">
        <img
          [src]="
            sanitizer.bypassSecurityTrustUrl(user.avatar + '&' + getTimeStamp())
          "
          alt="user-avatar"
          i18n-alt
          class="w-full h-full object-cover rounded-full border-white border-2"
        />
      </div>

      <oms-avatar
        [imgSrc]="tempImg"
        *ngIf="!!tempImg"
        styleClass="!w-32 !h-32"
        shape="circle"
      ></oms-avatar>

      <p-fileUpload
        mode="basic"
        chooseIcon="pi pi-pencil"
        (onSelect)="onUpload($event.currentFiles[0])"
      ></p-fileUpload>
    </div>

    <div class="ml-auto flex gap-4 font-bold">
      <button
        type="button"
        [routerLink]="cancelRouterLink"
        pButton
        class="!bg-gray-200 hover:text-black !text-black"
        i18n
      >
        Return
      </button>

      <button pButton type="submit" i18n>
        Save <i class="pi pi-save ml-2"></i>
      </button>
    </div>
  </div>

  <div class="input-field">
    <label for="fullName" i18n>Full Name</label>

    <input pInputText id="fullName" formControlName="fullName" class="w-4/5" />
  </div>

  <div class="input-field">
    <label for="email" i18n>Email</label>

    <input pInputText id="email" formControlName="email" class="w-4/5" />
  </div>

  <div class="input-field">
    <label for="gender" i18n>Gender</label>

    <div class="flex items-center w-4/5 gap-4">
      <div class="flex items-center">
        <p-radioButton
          name="gender"
          value="MALE"
          id="male"
          formControlName="gender"
        ></p-radioButton>

        <label for="male" class="ml-2 !text-base" i18n>Male</label>
      </div>

      <div class="flex items-center">
        <p-radioButton
          name="gender"
          value="FEMALE"
          id="female"
          formControlName="gender"
        ></p-radioButton>

        <label for="female" class="ml-2 !text-base" i18n>Female</label>
      </div>
    </div>
  </div>

  <div class="input-field">
    <label for="dob" i18n>D.O.B</label>

    <p-calendar
      formControlName="dob"
      [showIcon]="true"
      class="w-4/5"
    ></p-calendar>
  </div>

  <div class="input-field">
    <label for="phoneNumber" i18n>Phone Number</label>

    <input
      pInputText
      id="phoneNumber"
      formControlName="phoneNumber"
      class="w-4/5"
    />
  </div>

  <div class="input-field">
    <label for="fullAddress" i18n> Full Address</label>

    <input
      pInputText
      id="fullAddress"
      formControlName="fullAddress"
      class="w-4/5"
    />
  </div>

  <div class="input-field">
    <label for="role" i18n> Job Title</label>

    <input
      pInputText
      id="role"
      formControlName="userRole"
      readonly
      class="w-4/5 pointer-events-none"
    />
  </div>
</form>
