<!-- <div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="logo">
        <span>SAKAI</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button class="p-link layout-topbar-button">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
            <i class="pi pi-cog"></i>
            <span>Settings</span>
        </button>
    </div>
</div> -->

<div class="absolute top-0 left-0 right-0 flex items-center justify-between p-2 pl-0 border-b-2 border-gray-300 shadow-sm md:shadow-none border-opacity-70 lg:py-3 md:pb-4 md:pr-4">
    <div class="flex items-center font-medium transition-all duration-200 ease-linear md:pl-16 " [ngClass]="{'md:pl-96': isSubmenuOn}">
        <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="flex items-center gap-4 ml-auto md:justify-between user">
        <i class="pi pi-bell"></i>
        <i class="pi pi-comments "></i>
        <a href="/" class="w-8 h-8">
            <img src="./assets/avt.jpg" alt="Avatar" class="object-cover w-full h-full rounded-full" >
        </a>
    </div>
</div>