<div class="layout-wrapper" [ngClass]="containerClass">
    <!-- <div class="layout-sidebar"> -->
    <div>
        <app-sidebar></app-sidebar>
    </div>
    <!-- </div> -->
    <div class="flex w-full min-h-screen flex-col justify-between transition-all duration-200 pt-24 pr-4 pb-8 pl-16 !ml-0" [ngClass]="{'md:!pl-96': isSubmenuOn}">
        <div class=" layout-main" >
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div class="layout-mask"></div>
</div>
