
<tr class="mb-2 px-4 cursor-pointer hover:!bg-gray-200 transition-all duration-100">
  <td>{{ customerlist.name }}</td>
  <td>{{ customerlist.totalOrder }}</td>
  <td>{{ customerlist.address }}</td>
  <td class="font-bold">{{ customerlist.totalspend }}</td>
  <td>{{ customerlist.phoneNumber }}</td>
  <td>{{ customerlist.lastorder }}</td>
</tr>
  
  <!-- <td class="font-bold cursor-pointer">
    <i
      (click)="handleEdit()"
      class="pi pi-pencil text-primary p-1 border-b-2 border-primary mr-2"
    ></i>

    <i
      (click)="handleAction()"
      class="pi pi-arrow-up-left text-white bg-primary p-1 rounded-full"
    ></i>
  </td> -->