<app-topbar></app-topbar>

<div>
  <div>
    <p-tabMenu
      [model]="labelItems"
      [activeItem]="activeItem"
      (activeItemChange)="onActiveItemChange($event)"
    >
      <ng-template pTemplate="item" let-item let-i="index">
        <span class="px-3 py-1 ml-2">
          {{ item.title | titlecase }}
        </span>
      </ng-template>
    </p-tabMenu>

    <div class="mt-3">
      <oms-screen-filter
        (dateFilterChange)="dateFilterChange($event)"
        (searchValue)="searchValue($event)"
      >
      </oms-screen-filter>
    </div>
  </div>

  <div class="mt-3">
    <oms-table
      (pagingInfo)="onPageChange($event)"
      [isPaginationShown]="true"
      [table]="tableData"
      [contentRef]="contentRef"
    >
      <ng-template #contentRef let-rowData let-columns="columns">
        <oms-order-item [order]="rowData"></oms-order-item>
      </ng-template>
    </oms-table>
  </div>
</div>
