<div class="p-4 bg-white  ">
  <div class="mb-4  font-bold " >
    <div class="w-full">
      <div>
        <div class="flex flex-col mb-4">
          <h2 class="text-lg font-bold">Customer by location</h2>
        </div>
      </div>
      <div>
        <oms-chart type="geomap"></oms-chart>
      </div>
      <div class="pt-10 flex flex-col gap-2 line-height-3">
        <div class="flex justify-between font-semibold pt-2 text-lg">
          <span>Ha Noi</span>
          <span>2,345,678.1</span>
        </div>
        <div class="flex justify-between font-semibold pt-2 text-lg">
          <span>Da Nang</span>
          <span>2,345,678.1</span>
        </div>
        <div class="flex justify-between font-semibold pt-2 text-lg">
          <span>Thanh Hoa</span>
          <span>2,345,678.1</span>
        </div>
        <div class="flex justify-between font-semibold pt-2 text-lg">
          <span>Dong Thap</span>
          <span>2,345,678.1</span>
        </div>
        <div class="flex justify-between font-semibold pt-2 text-lg">
          <span>Quang Binh </span>
          <span>2,345,678.1</span>
        </div>
        <div class="flex justify-between font-semibold pt-2 text-lg">
          <span>TP.Ho Chi Minh</span>
          <span>2,345,678.1</span>
        </div>
      </div>
    </div>

      <p>

      </p>
  </div>
