<div class="mb-2 flex gap-2">
  <button
    type="button"
    class="dashboard-filter filter-button"
    (click)="handleButtonFilter($event)"
    *ngFor="let value of filterValue; let index = index"
    [class.active]="index === 1"
    name="{{ value.id }}"
  >
    {{ value.label }}
  </button>

  <p-calendar
    placeholder="Choose range of date"
    (mousedown)="handleActiveButtonFilter($event)"
    (ngModelChange)="getDateRange($event)"
    [(ngModel)]="dateFilter"
    selectionMode="range"
    view="date"
    [readonlyInput]="true"
    [showIcon]="true"
    dateFormat="dd.mm.yy"
    appendTo="body"
    inputId="icon"
    class="cursor-pointer"
    ngDefaultControl
  ></p-calendar>
</div>
