<app-topbar></app-topbar>

<div class="flex flex-col pb-2 mx-auto">
  <div class="flex items-center justify-between mb-2">
    <h1 class="text-3xl font-bold">Total sale by channel</h1>

    <oms-date-filter
      (dateFilterChange)="dateFilterChanged($event)"
      (filter)="filterChanged($event)"
    >
    </oms-date-filter>
  </div>

  <div class="flex flex-col md:flex-row gap-2 mb-2">
    <div class="w-1/2 p-4 bg-white rounded-md flex flex-col justify-between">
      <span class="font-bold" i18n>Channel</span>

      <div class="h-full">
        <oms-chart
          type="line"
          [data]="saleOnChannelData"
          [options]="baseChartOption"
        ></oms-chart>
      </div>
    </div>

    <div class="w-full md:w-1/2">
      <sale-by-channel-heatmap
        [data]="saleByChannelHeatmapData!"
      ></sale-by-channel-heatmap>
    </div>
  </div>

  <oms-table
    (pagingInfo)="pagingInfo($event)"
    [table]="tableData"
    [contentRef]="contentRef"
    [isPaginationShown]="true"
  >
    <ng-template #contentRef let-rowData>
      <oms-total-sale-by-channel-item
        [rowData]="rowData"
      ></oms-total-sale-by-channel-item>
    </ng-template>
  </oms-table>
</div>
