<div class="w-full   bg-white rounded-md min-w-[550px]">
  <div class="flex flex-row items-center justify-between w-full mb-2">
    <span class="font-bold">{{heading}}</span>
    <div class="flex gap-2">
      <button class="px-4 py-2 rounded-md bg-slate-100 hover:bg-sky-100"><i class="pi pi-filter text-sky-900"></i>
        Filter</button>
      <button class="px-4 py-2 rounded-md bg-slate-100 hover:bg-sky-100">View all</button>
    </div>
  </div>
  <div class="w-full">
    <!-- table header -->
    <div class="grid-cols-{{tableData.headerData.length}} bg-slate-100 px-2 py-3 rounded-sm" style="display: grid;">
      <span class="font-medium text-center" *ngFor="let item of tableData.headerData">{{ item }}</span>
    </div>
    <!-- end of table header -->

    <!-- table body -->
    <div>
      <div class="grid grid-cols-4 px-2 py-4 mt-3 text-center border border-solid rounded-sm border-slate-100" *ngFor="let objectItem of tableData.bodyData">
        <span class="text-center" *ngFor="let item of objectItem | keyvalue: originalOrder" [innerHtml]="item.value"></span>
      </div>
    </div>
    <!-- end of table body -->

    <!-- pagination -->
    <div class="flex justify-end mt-2">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="currentPagingInfo.per_page" [totalRecords]="currentPagingInfo.total_count"></p-paginator>
    </div>
    <!-- end of pagination -->
    </div>
</div>

