<div class="flex-col">
  <div class="mb-4 font-bold">
    <h2 class="text-base font-bold">Total Sale by Channel</h2>
  </div>
  <div class="flex flex-row justify-between">
    <p class="font-normal text-xs text-gray-500 capitalize">Sales share by stores</p>
    <a routerLink="./" class="text-xs text-primary">Analyse</a>
  </div>
  <div class="w-full">
    <oms-chart type="treemap" class="w-full" [options]="chartOptions"></oms-chart>
  </div>
  <div class="w-full flex-1">
    <dashboard-sale-store [data]="saleStoreData"></dashboard-sale-store>
  </div>
</div>
