<app-topbar></app-topbar>

<div class="flex-between-center w-full mb-2">
  <h1 class="text-3xl font-bold">Total Sales</h1>

  <oms-date-filter
    (dateFilterChange)="dateFilterChanged($event)"
    (filter)="filterChanged($event)"
  ></oms-date-filter>
</div>

<div class="grid md:grid-cols-fit-300 lg:grid-cols-6 w-full gap-2 mb-4 md:mb-2">
  <div class="w-full md:col-span-3 lg:col-span-1 dashboard-detail-container">
    <div class="font-bold text-black">Sales</div>

    <div class="flex flex-col gap-2 mb-4">
      <overview-box
        [dateRange]="dateRange"
        [type]="saleBoxTitle"
        [total]="totalSales"
        [percentage]="totalSalesPercent"
      ></overview-box>

      <overview-box
        [dateRange]="dateRange"
        [type]="avgOrderSaleBoxTitle"
        [total]="avgSales"
        [percentage]="avgSalesPercent"
      ></overview-box>

      <overview-box
        [dateRange]="dateRange"
        [type]="returnBoxTitle"
        [total]="totalReturn"
        [percentage]="totalReturnPercent"
      ></overview-box>
    </div>
  </div>

  <div class="flex flex-col col-span-3 w-full dashboard-detail-container">
    <div class="font-bold text-black">Revenue</div>

    <div class="h-full w-full">
      <oms-chart
        type="line"
        [options]="baseChartOptions"
        [data]="revenueData"
      ></oms-chart>
    </div>
  </div>

  <div
    class="flex flex-col lg:col-span-2 md:col-span-3 w-full dashboard-detail-container"
  >
    <div class="font-bold text-black">Overview</div>

    <div class="h-full w-full">
      <oms-chart
        type="bar"
        [options]="baseChartOptions"
        [data]="overviewData"
      ></oms-chart>
    </div>
  </div>
</div>

<oms-table
  (pagingInfo)="onPageChange($event)"
  [isPaginationShown]="true"
  [table]="tableData"
>
</oms-table>
