<div class="">
    <!-- <div class="mb-4">
        <div class="flex justify-between">
            <div class="lg:flex justify-between lg: gap-4 sm:grid-rows">
                <div class="text-base font-bold"
                    >Product Catalog</div
                >
                <div class="text-base text-yellow-400"
                    >Pineapple Thanh Hoa 10kg</div
                >
            </div>
            
        </div>
    </div> -->
    <div class="flex-rows">
        <div class="flex flex-row justify-between">
            <p class="font-normal text-xs text-gray-500">
                PRODUCT SALES OVER TIME
            </p>
            <div>
                <i class="pi pi-filter-fill"></i>
            </div>
        </div>
        <div class="flex flex-rows">
            <div class="w-full flex-1">
                <canvas  id="MyChart" class="h-full">{{ chart }}</canvas>
            </div>
        </div>
    </div>
</div>
